@import "./base/variables";

.Button {
  display: inline-block;
  padding: 10px 40px;
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;

  text-align: center;
  font-size: var(--baseFontSize);
  line-height: var(--baseLineHeight);
  cursor: pointer;
  text-decoration: none;

  transition: all 50ms linear;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: 0;
    color: #fff;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.block {
    width: 100%;
  }

  &.noFill {
    background: none;
  }
}

.purple {
  composes: purpleBorder purpleBackground from "./base/colors";
}

.red {
  composes: redBorder redBackground from "./base/colors";
}

.blue {
  composes: blueBorder blueBackground from "./base/colors";
}

.green {
  composes: greenBorder greenBackground from "./base/colors";
}

.yellow {
  composes: yellowBorder yellowBackground from "./base/colors";
}