/**
 * components.less
 * Buttons, sliders, all those little things
 */

// Callouts show things are impotant
// Get some attention!
.callout {
  background: $yellow;
  margin: $baseLineHeight 0; padding: $baseLineHeight;
  @include border-radius(4px);

  h1, h2, p {
    text-align: center;
  }
}

.toolbar {
  background: $yellow;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

// Avatars
.avatar {
  margin: 0 auto;
  overflow: hidden;
  @include border-radius(100%);

  img {
    display: block;
  }

  &.avatar-130 {
    width: 130px;
  }
}

// Ride Card
.ride-card {
  display: inline-block;
  overflow: hidden;
  border: 2px solid #cccccc;
  border-radius: 5px;
  width: 360px;
  margin: 0 20px 20px 0;
  @include transition(border ease .3s);
  list-style: none;
  position: relative;

  &:hover {
    border-color: #4494c7;
  }

  > a {
    &:hover {
      text-decoration: none;
    }
  }

  header {
    padding: 10px;

    h2, h4 {
      margin: 0;
    }
  }

  .riders {
    border-top: 1px solid #e2e2e2;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    li {
      float: left;
    }

    img {
      display: block;
    }
  }
}


/**
 * Registration steps
 */
.steps {
  margin: 15px 0;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    width: 33%;
    color: #aaa;

    span {
      display: block;
      margin: auto;
      text-align: center;
      font-size: 16px;

      &:first-child {
        width: 40px;
        height: 40px;
        line-height: 39px;
        border: 2px solid #aaa;
        font-size: 19px;
        @include border-radius(50%);
      }
    }
  }

  li.active {
    color: darken(#74C354, 20%);

    span:first-child {
      color: white;
      background: #74C354;
      border-color: #74C354;
    }
  }


}


