#ride-registration {
  .ride-registration--container {
    margin: 40px auto;
    max-width: 420px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
  }

  .ride-registration--popdown {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);

    .header-btn .btn {
      @include border-bottom-radius(0);
    }
  }

  .ride-registration--content {
  }

  .ride-registration--form {
    margin: 0;
  }

  .btn {
    width: 100%;
    margin: 0;
  }

  .ride-registration--details {
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
  }
}