/**
 * main.scss
 * Compilation of styles for TechBikers.com
 */

@import "compass";

// Setup
@import "variables";
@import "mixins";
@import "normalize";

// Typography
@import "fonts";
@import "typography";
@import "forms";

// Layout
@import "layout";

// Components and Widgets
@import
  "app",
  "button",
  "components",
  "formField",
  "rideRegistration",
  "paymentForm";


/* Styles for sponsor page */
.list--secret {
  list-style: none;
}

.list--inline li {
  display: inline-block;
}

.nudge {
  margin-right: 30px;
}

.sponsors ul { padding: 0}

.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 20px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 20px;}

.text--centre{
  text-align: center;
}

.jersey--parent{
  position: relative;
  padding-left: 60px;
  margin-bottom: 33px;
}

.jersey {
  height:60px;
  width:44px;
  display: inline-block;
  position: absolute;
  background: image_url('yellow_jersey.png') bottom center no-repeat;
  left:0;
  top: -8px;
}

.jersey--green{
  background: image_url('green_jersey.png') bottom center no-repeat;
}

.jersey--kotm{
  background: image_url('koth_jersey.png') bottom center no-repeat;
}

.gap--big{
  margin-bottom: 33px;
}

.sponsors h3{
  margin-top: 0;
}

.inkind{
  text-align: center;
  margin-top: 20px;
}

.inkind .img{
  display: block;
  margin:0 20px 20px;
  width:205px;
  height:154px;
}

.inkind .img > img{
  width:205px;
}


// Ride Page

.ride-list {
    margin: 30px 0 !important;
    padding: 0;
    list-style: none;
    text-align: center;
}

// Styling for ride details page
#ride {
  #riders {
    border: {
      top: 1px solid #e2e2e2;
      bottom: 1px solid #e2e2e2;
    }
    background: #f5f5f5;

    ul {
      margin: 20px 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    .rider {
      margin: 5px;
      padding: 0;
      list-style: none;
      position: relative;
      display: inline-block;
      opacity: 0.7;
      cursor: pointer;

      img {
        display: block;
        position: relative;
        float: left;
      }

      .rider-name {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: white;
        padding-left: 75px;
        padding-right: 15px;
        z-index: 2;
        text-align: left;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);

        h4 {
          white-space: nowrap;
          margin: 0;
          line-height: 60px;
        }
      }

      &:hover {
        opacity: 1;

        img {
          z-index: 5;
        }

        .rider-name {
          display: block;
        }
      }
    }
  }
}

// Styling for rider profile page
#rider-profile {
  #description {
    textarea {
      width: 100%;
      text-align: center;
    }
  }

  #rides {
    border: {
      top: 1px solid #e2e2e2;
      bottom: 1px solid #e2e2e2;
    }
    background: #f5f5f5;
  }
}
