{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Techbikers{% endblock %}</title>
        <meta name="description" content="">

        <meta property="og:image" content="https://techbikers.com{% static 'img/techbikers_144px.png' %}"/>
        <meta property="og:title" content="Techbikers - Paris to London charity cycle ride"/>
        <meta property="og:url" content="https://techbikers.com"/>
        <meta property="og:description" content="On September 27th, 60+ techies will ride from Paris to London. Over the 3 day, 200 mile ride they will raise $75000+ for Room to Read."/>

        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script type="text/javascript" src="{% static 'js/libs.js' %}"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    </head>

    <body>
        <div id="app">
            {% block html %}
                Loading...
            {% endblock %}
        </div>

        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-43866664-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
